.actionBtn {
  font-size: 4em;
  cursor: pointer;
  margin-left: 100 px;
}
.snapshot {
  text-align: center;
}
.snapshot.img {
  max-width: 800px;
  max-height: 800px;
}
ul.links {
  padding-bottom: 20px;
}

.wrapper {
  display: flex;
  background: #ffffff;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.validar {
  /* padding: 5px 80px; */
}

.text1 {
  background-color: #ff9200;
  color: white;
  border-radius: 15px;
}
.policies {
  font-size: 11pt;
  font-weight: bold;
  line-height: 13pt;
  color: #515151;
}
p.policies a {
  color: #515151;
  text-decoration: underline;
}
